* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1,h2,h3 {
    margin-bottom: 15px;
    color: #222;
    text-align: center;
}

button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.data {
    list-style-type: none;
    display: flex;
    margin: 10px 0;
    padding-left: 20px;
}

.data li {
    flex: 1;
    margin-bottom: 5px;
}

.data li:hover {
    background-color: lightblue;
}
